aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyascii==0.3.2
arrow==1.3.0
asgiref==3.8.1
attrs==23.2.0
beautifulsoup4==4.12.3
binaryornot==0.4.4
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cjkcms-allauth @ git+https://github.com/cjkpl/cjkcms-allauth.git@e25f9e2ece89c204bc7c4a9da0844a5892cc576d
cjkcms-color-panel==1.5.1
click==8.1.7
cookiecutter==2.6.0
crispy-bootstrap5==2024.2
defusedxml==0.7.1
dj_apps_wagtail_dashboard @ git+https://github.com/LilJack118/dj-apps-wagtail_dashboard.git@269d9bc8a85e3fcf8f91485234ff71339cada782
Django==5.0.6
django-allauth==0.63.3
django-bootstrap-icons==0.8.7
django-bootstrap5==24.2
django-countries==7.6.1
django-crispy-forms==2.2
django-debug-toolbar==4.4.2
django-enforce-host==1.1.0
django-filter==24.2
django-haystack==3.3.0
django-hijack==3.5.3
django-js-asset==2.2.0
django-machina==1.3.1
django-modelcluster==6.3
django-mptt==0.16.0
django-permissionedforms==0.1
django-taggit==5.0.1
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
draftjs-exporter==5.0.0
drf-spectacular==0.27.2
et-xmlfile==1.1.0
filetype==1.2.0
fonttools==4.53.0
fpdf2==2.7.9
frozenlist==1.4.1
html2text==2024.2.26
idna==3.7
inflection==0.5.1
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
l18n==2021.3
laces==0.1.1
markdown-it-py==3.0.0
markdown2==2.4.13
MarkupSafe==2.1.5
mdurl==0.1.2
multidict==6.0.5
openpyxl==3.1.4
packaging==24.1
pillow==10.3.0
pillow_heif==0.16.0
psycopg==3.1.19
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
Pygments==2.18.0
PyMuPDF==1.24.6
PyMuPDFb==1.24.6
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
python-webpack-boilerplate==1.0.3
pytube==15.0.0
pytz==2024.1
PyVimeo==1.1.2
PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
scholarship_submission_form @ git+https://github.com/FilipWozniak/wagtail-scholarship-submission-form.git@1e57440ecf1844cef19e3bc59f488e7feaf9ae16
sentry-sdk==2.7.0
setuptools==70.1.1
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
taggit-selectize==2.11.0
telepath==0.3.1
text-unidecode==1.3
thrsp-users @ git+https://github.com/cjkpl/thrsp-users.git@51a5b07c48d8e60cd63dfd52801e280bc3e07e0a
tinydb==4.8.0
titlecase==2.4.1
tuspy==1.0.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.2.2
wagtail==6.1.2
wagtail-cache==2.4.0
wagtail-cjk404==24.5.1
wagtail-cjkcms==24.6.3
wagtail-image-pexels-generator @ git+https://github.com/Sebastvin/wagtail-image-pexels-generator.git@7a425cd871bc2e85cb56a3ce6a08d217f0b65175
-e git+https://github.com/cjkpl/wagtail-lxp.git@439e888b1dc43319401e0c99a01094875689d3c0#egg=wagtail_lxp
wagtail-lxpusers @ git+https://github.com/cjkpl/wagtail-lxpusers.git@ddf9b7d6754f98f41ad6ffdee209981b8b26914f
wagtail-modeladmin==2.0.0
wagtail-notion-model @ git+https://github.com/LilJack118/wagtail-notion-model.git@274c78e33791657cad3718f59741d7ac3dddd97b
wagtail-public-persons @ git+https://github.com/cjkpl/wagtail-public-persons.git@017208b55f3d55275e5f863a22ddd2306866a0ad
wagtail-seo==2.5.0
Willow==1.8.0
xattr==1.1.0
yarl==1.9.4